
<html>
	<head>
		<title> The Gossip Project</title>
	</head>
	<body>
		<h1>Mon super site de Gossip, depuis le dossier views !
				<p>
					Voici le potin N°:<%= i%></br>
					 son auteur: <%=gossips_element.authors%></br>
					<%= "le contenu du potin:" gossips_element.content%>
				</p>
			<%end%>
		</h1>
		<a href="index" target="blank"> RETOUR A LA PAGE D'ACCEUIL </a>
	</body>
</html>